In [17]:
# Question 1
# Create a function that takes a number as an argument and returns True or False depending
# on whether the number is symmetrical or not. A number is symmetrical when it is the same as
# its reverse.
# Examples
# is_symmetrical(7227) ➞ True
# is_symmetrical(12567) ➞ False
# is_symmetrical(44444444) ➞ True
# is_symmetrical(9939) ➞ False
# is_symmetrical(1112111) ➞ True


def is_symmetrical(num):
    lis = str(num)
    a=lis[::-1]
    if lis==a:
        print(f"True:{lis} and {a} are symmetrical")
    else:
        print(f"False: :{lis} and {a} are NOT symmetrical")

In [20]:
is_symmetrical(1234)

False: :1234 and 4321 are NOT symmetrical

In [29]:
# Question 2
# Given a string of numbers separated by a comma and space, return the product of the
# numbers.
# Examples
# multiply_nums("2, 3") ➞ 6
# multiply_nums("1, 2, 3, 4") ➞ 24
# multiply_nums("54, 75, 453, 0") ➞ 0
# multiply_nums("10, -2") ➞ -20


def multiply_nums(lis):
    a=1
    for x in lis:
        a=a*x
    print(a)

In [32]:
multiply_nums([4,5,-2])

-40

In [48]:
# Question 3
# Create a function that squares every digit of a number.
# Examples
# square_digits(9119) ➞ 811181
# square_digits(2483) ➞ 416649
# square_digits(3212) ➞ 9414
# Notes
# The function receives an integer and must return an integer.


def square_digits(a):
    l=str(a)
    b=" "
    for x in l:
        c=int(x)*int(x)
        b=b+str(c)
    print(b)

In [50]:
square_digits(2020)

 4040

In [42]:
# Question 4
# Create a function that sorts a list and removes all duplicate items from it.
# Examples
# setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
# setify([4, 4, 4, 4]) ➞ [4]
# setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
# setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]



def setif(a):
    b=[]
    c=[]
    l=len(a)
    for x in range(0,l):
        if a.count(a[x])>1:
            if b.count(a[x])==0:
                b.append(a[x])
        elif a.count(a[x])==1:
            b.append(a[x])
    b.sort()
    print(b)

In [43]:
setif([4,3,2,5])

[2, 3, 4, 5]

In [50]:
# Create a function that returns the mean of all digits.
# Examples
# mean(42) ➞ 3
# mean(12345) ➞ 3
# mean(666) ➞ 6
# Notes
#  The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
# 512 is (5+1+2)/3(number of digits) = 8/3=2).
#  The mean will always be an integer.



def mean(a):

b=str(a)
l=len(b)
c=0
print(l)
for x in b:
    c=c+int(x)
d=c/l
print(int(d))

5
3